*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
body{
    color: antiquewhite;
} 
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 90px;
    background-color: black;

}
.brand img{
    
    width: 44px;
    padding: 0px;
}
 .brand{
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
 }
 
 nav ul li{
    padding: 0 12px;
 }
 .container{
    min-height: 70vh;
    background-color: black;
    color: azure;
    display: flex;
    flex-direction:column;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding-bottom: 34px;
    background-image: url('../res/photo/bg.jpg');
 }
 .bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: rgb(255, 255, 255);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .icons{
    margin-top: 30px;
 }
#myprogressBar{
    width: 80vh;
    cursor: pointer;
 }
 .songItem{
   height: 30px;
   width: 150px;
   display: flex;
   background-color: white;
   width: 80%;
   color: black;
   margin: 12px 0;
   justify-content: space-between;
   align-items: center;
   border-radius: 34px;
   padding-left: 0px;
   justify-content: center;
   width: fit-content;
   
 }
 .songItem img{
width: 23px;
margin:  0 23px;
display: flex;
 }
 .Timestamp{
   margin: 0 23px;
   cursor: pointer;
 }
 .songItemContainer{
   margin-top: 70px;
   padding-left: 15px;
 }
 .songInfo{
   position: absolute;
   left: 0;
   opacity: 0;
   transition: opacity is ease-in;
 }