
.box {
    display: inline-block;
    width: 100px; 
    height: 100px; 
    margin: 10px; 
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}


.button {
    cursor: pointer; 
    transition: transform 0.2s; 
}

.button:hover .box {
    transform: scale(1.1); 
}